<div class="container mt-4 px-5">
  <h1 class="text-center">DSA Questions</h1>
  <div class="row mt-5">
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Graph</h5>
          <p class="card-text">Explore questions related to Graph.</p>
          <a class="btn btn-primary" routerLink="/Graph">Go to Graph</a>
        </div>
      </div>
    </div>
    <!-- <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Linked Lists</h5>
          <p class="card-text">Browse questions on linked lists.</p>
          <a class="btn btn-primary" routerLink="/linked-lists"
            >Go to Linked Lists</a
          >
        </div>
      </div>
    </div> -->
    <!-- Add more topic blocks here -->
  </div>
</div>
