<app-navbar></app-navbar>
<div class="container">
  <h2 class="mt-4 mb-4 text-center">Graph</h2>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Title</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let question of questions; let i = index">
          <td>{{ i + 1 }}</td>
          <td>
            <a [href]="question.link" target="_blank">{{ question.title }}</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
